:root {
    --kyb-blue-1: #9cdbd9;
    --kyb-blue-2: #71c5e8;
    --kyb-blue-3: #c6dae7;
    --kyb-green-1: #c4d6a4;
    --kyb-green-2: #bec6c4;
    --kyb-green-3: #c0bb87;
    --kyb-purple-1: #c6bcd0;
    --kyb-purple-2: #c4a4a7;
    --kyb-red-1: #e56a54;
    --kyb-orange-1: #eca154;
    --kyb-yellow-1: #ffc845;
    --kyb-yellow-2: #fbdb65;
    --kyb-black: #111111;
    --kyb-white: #ffffff;
    --kyb-pantone: #4755;
    --kyb-basic: #F3E8DF;
}